@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class='box'>
                <img src="~/img/701-707 camden valley Catherine fields.jpg" width="1100" height="500" />
            </div>
            <div class="carousel-caption">
                <h3>701-707 camden valley Catherine fields</h3>
            </div>
        </div>
        <div class="carousel-item">
            <div class='box'>
                <img src="~/img/180ninth avenue Austral.jpg" width="1100" height="500" />
            </div>
            <div class="carousel-caption">
                <h3>180ninth avenue Austral</h3>
            </div>
        </div>
        <div class="carousel-item">
            <div class='box'>
                <img src="~/img/155 gurner avenue Austral.jpg" width="1100" height="500" />
            </div>
            <div class="carousel-caption">
                <h3>155 gurner avenue Austral</h3>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h4 style="color:#e99928"><b>Affordable Interest Free Housing:</b></h4>
            <p align="justify">
                Providing an affordable housing solution on an interest free basis to the Australian market has always been on the cards for founders Ahmad Quesada,
                Waseem Ghulam and Sayed Azam.<br /><br />

                Ahmad has over 30 years’ experience in civil & construction engineering. He began his career in the Philippines as a research engineer working with precast,
                house and land developments. He further progresses to Libya and worked under the Secretary of Communication as a supervisor for development of roads and bridges.
                Finally he arrived to Sydney and was employed as a Civil Engineer at Canterbury City Council then shifted into the private sector where he gained valuable
                experience in the surveying and steel industry. Various projects include high-rise buildings across Sydney and Wollongong including the
                Sydney Kingsfordsmith International Airport and the Sydney Olympics Dome.<br /><br />

                Waseem and Azam are passionate aspiring entrepreneurs who had their own successful businesses within IT and were looking for an entry into the real estate market.
                When they met Ahmad, these like-minded individuals partnered up and invested over three years of research and development into getting the business structure
                aligned to servicing our customers; Low Cost Housing was born as a result.
            </p>
            <button class="btn btn-info btn-lg" style="background-color:#e99928; border-color:#e99928">Get in Touch</button>
        </div>
        <div class="col-sm-4">
            <img src="~/img/Home.png" class="logo" style="width:100%;height:100%" />  @*style="margin-left:-70px"*@
        </div>
    </div>
</div>

<div id="values" class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <img src="~/img/ModelHouse.jpg" class="logo" style="width:100%;height:100%" />
            </div>
            <div class="col-sm-8">
                <h4 style="color:#e99928"><b>Our Values:</b></h4>
                <p align="justify">
                    Our aim is to provide an interest free affordable housing solution alternative to prospective buyers who do not want to get into the business of taking out a mortgage.
                    Through revolutionising the housing market and delivering a low cost housing platform, the community will now have the opportunity to realise their aspirations and fulfill
                    their dream of owning their own home through a feasible pathway.
                </p><br />

                <h4 style="color:#e99928"><b>Why Choose Us:</b></h4>
                <i class="fas fa-check" style="color:#e99928"> WE ARE PASSIONATE</i>
                <p>
                    We ensure that all projects are delivered with utmost professionalism while offering clients support and accessibility.
                </p>
                <i class="fas fa-check" style="color:#e99928"> HONEST AND TRANSPARENT</i>
                <p>
                    For us, complete honesty and transparency are the core of our principles where we strive to complete all projects with integrity,
                    with not just our clients but also our pipeline of suppliers and contractors.
                </p>
                <i class="fas fa-check" style="color:#e99928"> WE ARE ALWAYS IMPROVING</i>
                <p>
                    We commit ourselves to providing you with the best service using the latest methods and are constantly working on improving business operations.
                </p>
            </div>
        </div>
    </div>

    
        <div id="projects" class="section-timeline">
            <div class="container">
                <h2 class="heading" style="color:#e99928"><b>Our Projects:</b></h2>
                <h4 class="under-heading" style="color:#e99928"><b>Get grasp of our milestones:</b></h4>
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge">2019</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">41 Kelly street Austral</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    “Austral has a close proximity to the upcoming Badgery’s Creek Airport which is expected to create 200,000 jobs add 24 Billion Dollars to the economy”<br />
                                    <i class="fas fa-angle-double-right">&nbsp;Property Type: Residential.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Total land area: 5 Acres.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Number of Individual lots: 38</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;4 corner blocks with 20M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;All blocks carry 10M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Right opposite major development.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;R2 zoning.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Permits from council with consent: Home Occupations and Home-based childcare.</i>
                                </p>
                            </div>
                                <button class="btn btn-info btn-sm" style="background-color:#e99928; border-color:#e99928">Read more</button>
                            </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge">2018</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">32 Dickson Road, Leppington</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    “Austral has a close proximity to the upcoming Badgery’s Creek Airport which is expected to create 200,000 jobs add 24 Billion Dollars to the economy”<br />
                                    <i class="fas fa-angle-double-right">&nbsp;Property Type: Residential.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Total land area: 5 Acres.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Number of Individual lots: 38</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;4 corner blocks with 20M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;All blocks carry 10M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Right opposite major development.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;R2 zoning.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Permits from council with consent: Home Occupations and Home-based childcare.</i>
                                </p>
                            </div>
                            <button class="btn btn-info btn-sm" style="background-color:#e99928; border-color:#e99928">Read more</button>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge">2017</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">195 fourteenth Avenue Austral</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    “Austral has a close proximity to the upcoming Badgery’s Creek Airport which is expected to create 200,000 jobs add 24 Billion Dollars to the economy”<br />
                                    <i class="fas fa-angle-double-right">&nbsp;Property Type: Residential.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Total land area: 5 Acres.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Number of Individual lots: 38</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;4 corner blocks with 20M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;All blocks carry 10M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Right opposite major development.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;R2 zoning.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Permits from council with consent: Home Occupations and Home-based childcare.</i>
                                </p>
                            </div>
                            <button class="btn btn-info btn-sm" style="background-color:#e99928; border-color:#e99928">Read more</button>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge">2017</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">312 Paynes road, Rockbank VIC</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    “Austral has a close proximity to the upcoming Badgery’s Creek Airport which is expected to create 200,000 jobs add 24 Billion Dollars to the economy”<br />
                                    <i class="fas fa-angle-double-right">&nbsp;Property Type: Residential.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Total land area: 5 Acres.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Number of Individual lots: 38</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;4 corner blocks with 20M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;All blocks carry 10M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Right opposite major development.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;R2 zoning.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Permits from council with consent: Home Occupations and Home-based childcare.</i>
                                </p>
                            </div>
                            <button class="btn btn-info btn-sm" style="background-color:#e99928; border-color:#e99928">Read more</button>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge">2016</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">22 Dickson road, Leppington</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    “Austral has a close proximity to the upcoming Badgery’s Creek Airport which is expected to create 200,000 jobs add 24 Billion Dollars to the economy”<br />
                                    <i class="fas fa-angle-double-right">&nbsp;Property Type: Residential.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Total land area: 5 Acres.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Number of Individual lots: 38</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;4 corner blocks with 20M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;All blocks carry 10M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Right opposite major development.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;R2 zoning.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Permits from council with consent: Home Occupations and Home-based childcare.</i>
                                </p>
                            </div>
                            <button class="btn btn-info btn-sm" style="background-color:#e99928; border-color:#e99928">Read more</button>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge">2016</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">1 Kelly street Austral</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    “Austral has a close proximity to the upcoming Badgery’s Creek Airport which is expected to create 200,000 jobs add 24 Billion Dollars to the economy”<br />
                                    <i class="fas fa-angle-double-right">&nbsp;Property Type: Residential.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Total land area: 5 Acres.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Number of Individual lots: 38</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;4 corner blocks with 20M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;All blocks carry 10M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Right opposite major development.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;R2 zoning.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Permits from council with consent: Home Occupations and Home-based childcare.</i>
                                </p>
                            </div>
                            <button class="btn btn-info btn-sm" style="background-color:#e99928; border-color:#e99928">Read more</button>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge">2016</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">155 Gurner avenue Austral</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    “Austral has a close proximity to the upcoming Badgery’s Creek Airport which is expected to create 200,000 jobs add 24 Billion Dollars to the economy”<br />
                                    <i class="fas fa-angle-double-right">&nbsp;Property Type: Residential.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Total land area: 5 Acres.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Number of Individual lots: 38</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;4 corner blocks with 20M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;All blocks carry 10M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Right opposite major development.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;R2 zoning.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Permits from council with consent: Home Occupations and Home-based childcare.</i>
                                </p>
                            </div>
                            <button class="btn btn-info btn-sm" style="background-color:#e99928; border-color:#e99928">Read more</button>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge">2016</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">1247-1255 Mount Cotrell, Rockbank VIC</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    “Austral has a close proximity to the upcoming Badgery’s Creek Airport which is expected to create 200,000 jobs add 24 Billion Dollars to the economy”<br />
                                    <i class="fas fa-angle-double-right">&nbsp;Property Type: Residential.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Total land area: 5 Acres.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Number of Individual lots: 38</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;4 corner blocks with 20M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;All blocks carry 10M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Right opposite major development.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;R2 zoning.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Permits from council with consent: Home Occupations and Home-based childcare.</i>
                                </p>
                            </div>
                            <button class="btn btn-info btn-sm" style="background-color:#e99928; border-color:#e99928">Read more</button>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge">2016</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">180ninth avenue, Austral</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    “Austral has a close proximity to the upcoming Badgery’s Creek Airport which is expected to create 200,000 jobs add 24 Billion Dollars to the economy”<br />
                                    <i class="fas fa-angle-double-right">&nbsp;Property Type: Residential.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Total land area: 5 Acres.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Number of Individual lots: 38</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;4 corner blocks with 20M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;All blocks carry 10M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Right opposite major development.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;R2 zoning.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Permits from council with consent: Home Occupations and Home-based childcare.</i>
                                </p>
                            </div>
                            <button class="btn btn-info btn-sm" style="background-color:#e99928; border-color:#e99928">Read more</button>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge">2015</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">701-707 Camden valley way, Catherine fields</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    “Austral has a close proximity to the upcoming Badgery’s Creek Airport which is expected to create 200,000 jobs add 24 Billion Dollars to the economy”<br />
                                    <i class="fas fa-angle-double-right">&nbsp;Property Type: Residential.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Total land area: 5 Acres.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Number of Individual lots: 38</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;4 corner blocks with 20M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;All blocks carry 10M + Frontage minimum.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Right opposite major development.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;R2 zoning.</i><br />
                                    <i class="fas fa-angle-double-right">&nbsp;Permits from council with consent: Home Occupations and Home-based childcare.</i>
                                </p>
                            </div>
                            <button class="btn btn-info btn-sm" style="background-color:#e99928; border-color:#e99928">Read more</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
   

    <div id="contact" class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <i class="fas fa-search-location" aria-hidden="true"><span style="color:#818181">Location</span></i>
                <p>Low Cost Housing Suite<br /> 1A, Level 1, Greenway Plaza Office Suites 22 Horwood Place, Parramatta NSW 2150</p>

                <i class="fas fa-business-time" aria-hidden="true"><span style="color:#818181">Working Hour</span></i>
                <p>Monday - Friday<br /> 9am - 5pm</p>

                <i class="fas fa-phone" aria-hidden="true"><span style="color:#818181">Phone</span></i>
                <p>1300 929 926, 0405837667</p>

                <i class="fas fa-envelope-square" aria-hidden="true"><span style="color:#818181">Email</span></i>
                <p>
                    For Sydney Projects : nswsales@lowcosthousing.net.au <br />
                    For Melbourne Projects : vicsales@lowcosthousing.net.au
                </p>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit" style="background-color:#e99928">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>